serviz:

telsink:
  log_format_version: 1
  log_path: logs/

transnet:
  api_version: 2
  s_vision_fan_url: tcp://*:4242
  s_game_controller_fan_url: tcp://*:4243
  s_tracker_fan_url: ipc:///tmp/transnet.tracker

control_decoder:
  api_version: 1
  s_control_sink_url: tcp://*:5051
  real_robots_ip_low: "10.0.120.211"
  real_robots_ip_high: "10.0.120.210"
  real_robots_port: 10000

ether:
  api_version: 3
  s_draw_pub_url: ipc:///tmp/ether.draw.xpub
  s_draw_sub_url: ipc:///tmp/ether.draw.xsub
  s_telemetry_pub_url: ipc:///tmp/ether.telemetry.xpub
  s_telemetry_sub_url: ipc:///tmp/ether.telemetry.xsub
  s_signals_pub_url: ipc:///tmp/ether.signals.xpub
  s_signals_sub_url: ipc:///tmp/ether.signals.xsub
  s_geometry_pub_url: ipc:///tmp/ether.geometry.xpub
  s_geometry_sub_url: ipc:///tmp/ether.geometry.xsub
