services:
  pacmacs:
    build: .
    network_mode: host
    volumes:
      - .:/app
      - /tmp:/tmp
    environment:
      - VERSION=${VERSION}
      - DIV=${DIV}
      - CTRL=${CTRL}
    init: true
    tty: true
    userns_mode: "host"
    user: "${UID}:${GID}"

  serviz_frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    network_mode: host
    working_dir: /app/serviz/frontend
    volumes:
      - .:/app
    environment:
      - VERSION=${VERSION}
      - DIV=${DIV}
    userns_mode: "host"
    user: "${UID}:${GID}"
    command: [ "sh", "-c", "npm run start" ]

  grsim:
    image: robocupssl/grsim:latest
    network_mode: host
    environment:
      - VNC_PASSWORD=vnc
      - VNC_GEOMETRY=1920x800
    volumes:
      - ${PWD}/grsim/.grsim.${DIV}.xml:/home/default/.grsim.xml
    # command: vnc

  autoreferee:
    # image: tigersmannheim/auto-referee
    image: roboticserlangen/autoref
    network_mode: host
    volumes:
      - ${PWD}/autoreferee/config:/home/default/config
