# Orchestrator
honcho
watchdog

# Common
pyyaml
attrs
cattrs
pytest

# Transnet
zmq
protobuf
protoletariat

# serviz
Flask
Flask-SocketIO
python-socketio
python-engineio
gevent
pyzmq
PyYAML 
eventlet
attrs
