<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviz game visualisation</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="container">
        <div id="canvas-window" class="canvas-window"></div>
        <table class="ui-overlay">
            <tr>
                <td valign="top">
                    <div class="controls">
                        <h3>Controls</h3>
                        <style>
                            .zoom_ctrl {
                                display: grid;
                                grid-template-columns: auto auto auto;
                                grid-gap: 5px;
                                align-items: center;
                            }
                        </style>
                        <div class="zoom_ctrl">
                            Zoom <span id="zoom-level">1.0</span>
                            <div>
                                <button class="button-4" role="button" id="zoom-in">+</button>
                                <button class="button-4" role="button" id="zoom-out">-</button>
                            </div>
                        </div>
                        <input class="wide" type="range" id="zoom-slider" min="0.5" max="3" step="0.1" value="1">
                        <button class="button-4 wide" role="button" id="reset">Reset view</button>
                        <button class="button-4 wide" role="button" id="test_button">Test button</button>
                        <hr>
                        <h3>Field orientation</h3>
                        <div>
                            Blue left
                            <input type="checkbox" id="field-orientation">
                        </div>
                        <hr>
                        <h3>Layers</h3>
                        <div id="layer-list" class="layer-list"></div>
                        <hr>
                        <h3>Hotkeys</h3>
                        <table>
                            <tr>
                                <td><tt>'r'</tt></td>
                                <td>Reset view</td>
                            </tr>
                            <tr>
                                <td><tt>'f'</tt></td>
                                <td>Toggle field orientation</td>
                            </tr>
                            <tr>
                                <td><tt>'t'</tt></td>
                                <td>Test button</td>
                            </tr>
                            <tr>
                                <td><tt>←↓↑→</tt><br><tt>hjkl</tt></td>
                                <td>Panning</td>
                            </tr>
                            <tr>
                                <td><tt>1..9</tt></td>
                                <td>Toggle layer visibility</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="bottom" align="right">
                    {{VERSION}}
                </td>
            </tr>
        </table>
        <script src="/static/scripts/socket.io.js"></script>
        <script src="/static/scripts/script.js"></script>
    </div>
</body>

</html>
